<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.sa.plugin.cardio"
    version="1.0.0"
    xmlns="http://apache.org/cordova/ns/plugins/1.0" >
    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>
    <name>ReadCreditCardPlugin</name>
    <description>Card.io plugin for android and iOS to read Credit card details</description>
    <keywords>card.io,credit card</keywords>
    <license>Apache 2.0 License</license>
	<js-module name="ReadCard" src="js/CardIOPGPlugin.js" >
    	 <clobbers target="card_io" /> 
	</js-module>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
             <feature name="CardIOPGPlugin">
                <param name="android-package" value="com.sa.plugin.cardio.android.PluginActivity"/>
            </feature>
        </config-file>

        <source-file src="src/android/PluginActivity.java" target-dir="src/com/sa/plugin/cardio/android" />
        <!-- <source-file src="lib/android/card.io.jar" target-dir="libs" framework="true" /> -->
        <source-file src="lib/android/armeabi-v7a" target-dir="libs" framework="true" />
		<source-file src="lib/android/mips" target-dir="libs" framework="true" />
		<source-file src="lib/android/x86" target-dir="libs" framework="true" />
		<source-file src="lib/android/armeabi" target-dir="libs" framework="true" />

        <config-file target="AndroidManifest.xml" parent="/manifest">
			<!-- Adding features required by Card.io -->
			<!-- Permission to access network state - required -->
			<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
			<!-- Permission to access internet - required -->
			<!-- <uses-permission android:name="android.permission.INTERNET" /> -->
			<!-- Permission to use camera - required -->
			<uses-permission android:name="android.permission.CAMERA" />
			<!-- Permission to vibrate - recommended, allows vibration feedback on scan -->
			<uses-permission android:name="android.permission.VIBRATE" />
			<!-- Camera features - recommended -->
			<uses-feature android:name="android.hardware.camera" android:required="false" />
			<uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />
			<uses-feature android:name="android.hardware.camera.flash" android:required="false" />
			
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
			<!-- Activity of Card.io -->
			<!-- Activities responsible for gathering payment info -->
			<activity
				android:name="io.card.payment.CardIOActivity"
				android:configChanges="keyboardHidden|orientation" />
			<activity android:name="io.card.payment.DataEntryActivity" />
        </config-file>
    </platform>

	<platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="CardIOPGPlugin">
                <param name="ios-package" value="CardIOPGPlugin" />
            </feature>
        </config-file>
        <header-file src="src/iOS/CardIOPGPlugin.h" />
        <source-file src="src/iOS/CardIOPGPlugin.m" />

        <header-file src="lib/iOS/CardIO.h" />
		<header-file src="lib/iOS/CardIOCreditCardInfo.h" />
		<header-file src="lib/iOS/" />
		<header-file src="lib/iOS/CardIOPaymentViewController.h" />
		<header-file src="lib/iOS/CardIOPaymentViewControllerDelegate.h" />
		<header-file src="lib/iOS/CardIOView.h" />
		<header-file src="lib/iOS/CardIOViewDelegate.h" />
        <source-file src="lib/iOS/libCardIO.a" framework="true" />

    </platform>
    <info>Write something about plugin here</info> 
</plugin>